/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;600;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap");

.font-outfit {
  font-family: "Outfit", sans-serif;
}

* {
  font-family: "Roboto", sans-serif;
  transition: 0.3s;
}

.blob-1 {
  border-radius: 9rem;
  background: radial-gradient(
      49.19% 88.28% at 72.99% 113.54%,
      rgba(93, 227, 236, 0.73) 0%,
      rgba(93, 227, 236, 0.1679) 59.78%,
      rgba(93, 227, 236, 0) 100%
    ),
    linear-gradient(54.57deg, #862ab1 8.59%, rgba(185, 91, 230, 0) 80.49%),
    radial-gradient(
      118.75% 118.75% at 96.65% 74.22%,
      #308ee6 0%,
      rgba(48, 158, 230, 0) 73.91%
    ),
    radial-gradient(
      114.51% 155.86% at 9.82% 10.94%,
      rgba(255, 85, 85, 0.7) 0%,
      rgba(255, 85, 85, 0.147) 61.98%,
      rgba(255, 85, 85, 0) 100%,
      #f2f5fa
    );
  background-blend-mode: hard-light, darken, normal, normal, normal, normal;
  filter: blur(63px);
}

.blob-2 {
  border-radius: 9rem;
  background: radial-gradient(
      110.88% 79.69% at 47.77% 151.82%,
      #ffec45 0%,
      rgba(255, 236, 69, 0.3) 54.92%,
      rgba(255, 236, 69, 0) 96.11%
    ),
    radial-gradient(
      50% 68.23% at 98.21% 96.61%,
      #41d1b7 0%,
      rgba(65, 209, 183, 0.35) 49.27%,
      rgba(65, 209, 183, 0) 100%
    ),
    radial-gradient(
      83.71% 75.52% at -10.04% 2.86%,
      #8263db 0%,
      rgba(129, 114, 218, 0.26) 56.87%,
      rgba(129, 114, 218, 0) 100%
    ),
    linear-gradient(180deg, #58ccdc 0%, rgba(88, 204, 220, 0) 100%),
    linear-gradient(
      81.23deg,
      #ff557e 21.4%,
      rgba(255, 85, 85, 0) 84.87%,
      #f2f5fa
    );
  background-blend-mode: normal, normal, darken, normal, normal, normal;
  filter: blur(63px);
}

.blob-3 {
  border-radius: 9rem;
  background: radial-gradient(
      ellipse at 50% 50%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    radial-gradient(ellipse at 70% 60%, #c3e060 0%, rgba(195, 224, 96, 0) 90%),
    radial-gradient(ellipse at 30% 30%, #c3e060 0%, rgba(195, 224, 96, 0) 60%),
    radial-gradient(
      ellipse at bottom left,
      #00a3cb 0%,
      rgba(0, 163, 203, 0) 70%
    ),
    linear-gradient(
      135deg,
      rgba(18, 46, 119, 0) 0%,
      rgba(18, 46, 119, 0) 75%,
      #122e77 100%
    ),
    linear-gradient(
      to right,
      #625793 0%,
      #d55d64 35%,
      #e49129 65%,
      #c0671c 100%
    );
  background-blend-mode: overlay, luminosity, multiply, saturation, color-dodge,
    lighten;
  filter: blur(63px);
}

// ------------------- THEME GRADIENTS

.bgThemeA {
  background: #2a2a72;
  background: linear-gradient(135deg, #009ffd 0%, #2a2a72 100%);
  box-shadow: 0px 0px 15px 5px #2a2a7230;
}
.bgThemeB {
  background: #5f0a87;
  background: linear-gradient(135deg, #a4508b 0%, #5f0a87 100%);
  box-shadow: 0px 0px 15px 5px #5f0a8730;
}
.bgThemeC {
  background: #ff4e00;
  background: linear-gradient(135deg, #ec9f05 0%, #ff4e00 100%);
  box-shadow: 0px 0px 15px 5px #ff4e0030;
}
.bgThemeD {
  background: #6b0f1a;
  background: linear-gradient(135deg, #b91372 0%, #6b0f1a 100%);
  box-shadow: 0px 0px 15px 5px #6b0f1a30;
}
